.element__like{
    background-image: url('../../../images/like-image.svg');
    height: 19px;
    width: 22px;
    border: none;
    background-repeat: no-repeat;
    background-color:#fff;
    align-self:center;
}