.popup__container-preview{
    position: relative;
    width: 75vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin:100px auto;
}
@media (max-width:567px){
    .popup__container-preview{
        max-width: 240px;
        max-height: 299px;
    }
}