.popup__close_preview{
    position: absolute;
    top: -24px;
    right: 132px;
}
@media (max-width:1239px){
    .popup__close_preview{
        right: 100px;
    }
}

@media (max-width:1014px){
    .popup__close_preview{
        right: 90px;
    }
}
@media (max-width:1014px){
    .popup__close_preview{
        right: 73px;
    }
}
@media (max-width:892px){
    .popup__close_preview{
        right: 55px;
    }
}
@media (max-width:810px){
    .popup__close_preview{
        right: 61px;
    }
}
@media (max-width:740px){
    .popup__close_preview{
        right: 49px;
    }
}
@media (max-width:659px){
    .popup__close_preview{
        right: 44px;
    }
}
@media (max-width:565px){
    .popup__close_preview{
        right: 120px;
        width: 35px;
        height: 45px;
    }
}
@media (max-width:542px){
    .popup__close_preview{
        right: 115px;
        width: 35px;
        height: 45px;
    }
}
@media (max-width:320px){
    .popup__close_preview{
        right: 13px;
        width: 35px;
        height: 45px;
    }
}