.elements{
    margin: 47px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    justify-content: center;
    gap: 20px 17px;
    max-width: 880px;
}
@media (max-widht:320px){
    .elements{
        margin-left: 19px;
        margin-right: 19px;
    }
}