.element__footer{
    padding-top: 4px;
    width: 246px;
    display: flex;
    justify-content: space-between;
    margin-left: 18px;
    padding-bottom: 7px;
}
@media (max-width:320px){
    .element__footer{
        padding-bottom: 0;
        padding-top: 47px;
        margin-bottom: -10px;
        margin-top: -43px;
    }
}