.page__section{
    max-width:1280px;
    margin: auto;
}

@media screen and (max-width: 1275px) {
    .page__section {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }
}
@media screen and (max-width: 824px) {
    .page__section {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 50px 0 50px;
    }
}

@media screen and (max-width: 334px) {
    .page__section {
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .page__section {
        margin: 0;
        padding: 0;
    }
}