.popup__container-preview{
    background-color: #000;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin:100px auto;
}